<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <table>
        <thread>
            <th> [제목]</th>
            <th> [내용]</th>
            <th> [작성자]</th>
            <th> [작성일시]</th>
            <th> [기능]</th>
        </thread>
        {% if comment %}
            <tr>
                <td>{{ comment.title}}</td>
                <td>{{ comment.contents}}</td>
                <td>{{ comment.writer}}</td>
                <td>{{ comment.create_date}}</td>
                {% if request.user == comment.writer %}
                <td>
                    <button onclick="location.href='/comment/update/{{ comment.id}}'">수정</button >
                    <button onclick="location.href='/comment/delete/{{ comment.id}}'">삭제</button >
                </td>
                {% endif %}
            </tr>
        {% endif %}
    </table>
</body>
</html>

