{% extends 'layout/base.html' %}
{% block board_list %}
<!-- 여기에 block '기능명' endblock 써서 각자의 기능을 붙여넣으세요. -->
<div>
     <table>
            <thead>
                <tr>
                    <th> [포스터] </th>
                    <th> [제목] </th>
                    <th> [개봉일자] </th>
                    <th> [감독] </th>
                    <th> [좋아요] </th>
                    {% if request.user.is_staff %}
                    <th> [기능]</th>
                    {% endif %}
                </tr>
            </thead>
            {% if posts %}
                {% for post in posts %}
                <tbody>
                    <tr>
                         <td>
                            {% if post.poster %}
                             <a href="/board/read/{{post.id}}">
                                <img width=150 height=200 src="{{post.poster}}" >
                             </a>
                            {% endif %}
                        </td>
                        <td> {{ post.title }} </td>
                        <td> {{ post.opening_date}}</td>
                        <td> {{ post.director }} </td>
                        <td>
                            <h3 onclick="sendLike( {{ post.id }}, this)" class="col-2">
                            {% if user in post.like.all %}
                                ♥
                            {% else %}
                                ♡
                            {% endif %}
                            </h3>
                            <h3>
                                 {{ post.like.count }}
                            </h3>
                        </td>
                        {% if request.user.is_staff %}
                        <td>
                            <button onclick="location.href='/board/update/{{ post.id}}'">수정</button >
                            <button onclick="location.href='/board/delete/{{ post.id}}'">삭제</button >
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            {% endif %}
     </table>
</div>
<script>
    function sendLike(bid, event) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                var json = JSON.parse(httpRequest.responseText);

                if (json['message'] == 'add' ) {
                    event.innerText = "♥"
                    event.nextSibling.nextSibling.innerText = json['like_cnt'];
                } else if (json['message'] == 'del' ) {
                    event.innerText = "♡"
                    event.nextSibling.nextSibling.innerText = json['like_cnt'];
                }
            }
        };
        httpRequest.open("GET", "/board/like/" + bid, true);
        httpRequest.send();
    }
</script>
{% endblock %}