{% extends 'layout/base.html' %}
{% block board_read %}
<!-- 여기에 block '기능명' endblock 써서 각자의 기능을 붙여넣으세요. -->
<div>
     <table>
            <thead>
                <tr>
                    <th> 제목</th>
                    <th> 개봉일자 </th>
                    <th> 감독 </th>
                    <th> 캐스팅 </th>
                    <th> 내용 </th>
                    <th></th>
                </tr>
            </thead>
            {% if post %}
            <tbody>
               <tr>
                    <td> {{ post.title }} </td>
                    <td> {{ post.opening_date}}</td>
                    <td> {{ post.director }} </td>
                    <td> {{ post.cast }} / {{post.cast2}} / {{post.cast3}} / {{post.cast4}} </td>
                    <td> {{ post.contents }} </td>
                    {% if request.user.is_superuser %}
                        <td>
                            <button onclick="location.href='/board/update/{{ post.id}}'">수정</button >
                            <button onclick="location.href='/board/delete/{{ post.id}}'">삭제</button >
                        </td>
                    {% endif %}
               </tr>
            </tbody>
            {% endif %}
     </table>
</div>
<!--   댓글 출력 기능   -->
<div>
    <table>
        <thead>
            <tr>
                <th> [댓글제목]</th>
                <th> [댓글내용]</th>
                <th> [작성자]</th>
                <th> [좋아요]</th>
                <th> [기능]</th>
            </tr>
        </thead>
        {% if comments %}
            {% for comment in comments %}
            <tbody>
                <tr>
                    <td>{{ comment.title}}</td>
                    <td>{{ comment.contents}}</td>
                    <td>{{ comment.writer}}</td>
                    <td>
                        <h3 onclick="sendLike( {{ comment.id }}, this)" class="col-2">
                        {% if user in comment.like.all %}
                            ♥
                        {% else %}
                            ♡
                        {% endif %}
                        </h3>
                        <h3>
                            {{ comment.like.count }}
                        </h3>
                    </td>
                    <td><button onclick="location.href='/comment/read/{{ comment.id}}'">댓글보기</button></td>
                </tr>
            </tbody>
            {% endfor %}
        {% endif %}
    </table>
</div>
<!--   댓글 작성 기능   -->
<div>
    <form action="/comment/register/{{post.id}}" method="post">
        {% csrf_token %}
        {{ commentForm }}
        <input type = "submit" value = 댓글등록>
    </form>
</div>
<!--    좋아요 함수   -->
<script>
    function sendLike(cid, event) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                var json = JSON.parse(httpRequest.responseText);
                if (json['message'] == 'add' ) {
                    event.innerText = "♥"
                    event.nextSibling.nextSibling.innerText = json['like_cnt'];
                } else if (json['message'] == 'del' ) {
                    event.innerText = "♡"
                    event.nextSibling.nextSibling.innerText = json['like_cnt'];
                }
            }
        };
        httpRequest.open("GET", "/comment/like/" + cid, true);
        httpRequest.send();
    }
</script>

{% endblock %}