<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="span3">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">로그인</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form method="post">
                {% csrf_token %}
                <!-- ID input-->
                <div class="form-floating mb-3">
                    <input name="username" class="form-control" id="id" type="text" placeholder="아이디 입력" data-sb-validations="required" />
                    <label for="id">아이디</label>
                </div>
                <!-- Password input-->
                <div class="form-floating mb-3">
                    <input name="password" class="form-control" id="password" type="password" placeholder="비밀번호입력" data-sb-validations="required,email" />
                    <label for="password">비밀번호</label>
                </div>
                 <!-- Submit Button-->
                <button id="submitButton" type="submit" class="btn btn-primary pull-right">로그인</button>
                <br>
                <br>
                <a href="/kakao">카카오 소셜 로그인 </a>
                    {% if messages %}
                        <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                        </ul>
                    {% endif %}
            </form>
        </div>
    </div>
</div>