    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">로그인</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form method="post">
                {% csrf_token %}
                <!-- ID input-->
                <div class="form-floating mb-3">
                    <input name="username" class="form-control" id="id" type="text" placeholder="아이디 입력" data-sb-validations="required" />
                    <label for="id">아이디</label>
                </div>
                <!-- Password input-->
                <div class="form-floating mb-3">
                    <input name="password" class="form-control" id="password" type="password" placeholder="비밀번호입력" data-sb-validations="required,email" />
                    <label for="password">비밀번호</label>
                </div>
                 <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">로그인</button>
                <br>
                <br>
                <a href="https://accounts.kakao.com/login?continue=https%3A%2F%2Fkauth.kakao.com%2Foauth%2Fauthorize%3Fresponse_type%3Dcode%26redirect_uri%3Dhttp%253A%252F%252F127.0.0.1%253A8000%252Foauth%26client_id%3D0e87f40293f38fb09d3d5a597dd6f4e3">카카오 소셜 로그인 </a>
            </form>
        </div>
    </div>